<section>
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-4">Shop</h1>
      <p class="lead">
        This is a modified jumbotron that occupies the entire horizontal space
        of its parent.
      </p>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Category</a></li>
          <li class="breadcrumb-item active" aria-current="page">list</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3">
      <div class="card-bg-light mb-3">
        <div class="card-header bg-primary text-white text-uppercase">
          Categories
        </div>
        <ul class="list-group category_block">
          <li class="list-group-item">Item1</li>
          <li class="list-group-item">Item2</li>
          <li class="list-group-item">Item3</li>
          <li class="list-group-item">Item4</li>
          <li class="list-group-item">Item5</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <img
              class="card-img-top"
              src="https://dummyimage.com/600x400/55595c/fff"
              alt="Card image cap"
            />
            <div class="card-body text-center pt-4">
              <h5 class="card-title">Product title</h5>
              <p class="mb-2 text-muted text-uppercase small">Product Text</p>
              <ul class="rating text-center">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
              </ul>
              <hr />
              <p>
                <span class="mr-1"><strong>$17.99</strong></span>
              </p>
              <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
                <i class="fas fa-shopping-cart pr-2"></i>Add to cart
              </button>
              <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                <i class="fas fa-info-circle pr-2"></i>Details
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm px-3 mb-2 material-tooltip-main"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to wishlist"
              >
                <i class="far fa-heart"></i>
                Wishlist
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <img
              class="card-img-top"
              src="https://dummyimage.com/600x400/55595c/fff"
              alt="Card image cap"
            />
            <div class="card-body text-center pt-4">
              <h5 class="card-title">Product title</h5>
              <p class="mb-2 text-muted text-uppercase small">Product Text</p>
              <ul class="rating text-center">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
              </ul>
              <hr />
              <p>
                <span class="mr-1"><strong>$17.99</strong></span>
              </p>
              <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
                <i class="fas fa-shopping-cart pr-2"></i>Add to cart
              </button>
              <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                <i class="fas fa-info-circle pr-2"></i>Details
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm px-3 mb-2 material-tooltip-main"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to wishlist"
              >
                <i class="far fa-heart"></i>
                Wishlist
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <img
              class="card-img-top"
              src="https://dummyimage.com/600x400/55595c/fff"
              alt="Card image cap"
            />
            <div class="card-body text-center pt-4">
              <h5 class="card-title">Product title</h5>
              <p class="mb-2 text-muted text-uppercase small">Product Text</p>
              <ul class="rating text-center">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
              </ul>
              <hr />
              <p>
                <span class="mr-1"><strong>$17.99</strong></span>
              </p>
              <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
                <i class="fas fa-shopping-cart pr-2"></i>Add to cart
              </button>
              <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                <i class="fas fa-info-circle pr-2"></i>Details
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm px-3 mb-2 material-tooltip-main"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to wishlist"
              >
                <i class="far fa-heart"></i>
                Wishlist
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <img
              class="card-img-top"
              src="https://dummyimage.com/600x400/55595c/fff"
              alt="Card image cap"
            />
            <div class="card-body text-center pt-4">
              <h5 class="card-title">Product title</h5>
              <p class="mb-2 text-muted text-uppercase small">Product Text</p>
              <ul class="rating text-center">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
              </ul>
              <hr />
              <p>
                <span class="mr-1"><strong>$17.99</strong></span>
              </p>
              <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
                <i class="fas fa-shopping-cart pr-2"></i>Add to cart
              </button>
              <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                <i class="fas fa-info-circle pr-2"></i>Details
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm px-3 mb-2 material-tooltip-main"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to wishlist"
              >
                <i class="far fa-heart"></i>
                Wishlist
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <img
              class="card-img-top"
              src="https://dummyimage.com/600x400/55595c/fff"
              alt="Card image cap"
            />
            <div class="card-body text-center pt-4">
              <h5 class="card-title">Product title</h5>
              <p class="mb-2 text-muted text-uppercase small">Product Text</p>
              <ul class="rating text-center">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
              </ul>
              <hr />
              <p>
                <span class="mr-1"><strong>$17.99</strong></span>
              </p>
              <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
                <i class="fas fa-shopping-cart pr-2"></i>Add to cart
              </button>
              <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                <i class="fas fa-info-circle pr-2"></i>Details
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm px-3 mb-2 material-tooltip-main"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to wishlist"
              >
                <i class="far fa-heart"></i>
                Wishlist
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <img
              class="card-img-top"
              src="https://dummyimage.com/600x400/55595c/fff"
              alt="Card image cap"
            />
            <div class="card-body text-center pt-4">
              <h5 class="card-title">Product title</h5>
              <p class="mb-2 text-muted text-uppercase small">Product Text</p>
              <ul class="rating text-center">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
              </ul>
              <hr />
              <p>
                <span class="mr-1"><strong>$17.99</strong></span>
              </p>
              <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
                <i class="fas fa-shopping-cart pr-2"></i>Add to cart
              </button>
              <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                <i class="fas fa-info-circle pr-2"></i>Details
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm px-3 mb-2 material-tooltip-main"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to wishlist"
              >
                <i class="far fa-heart"></i>
                Wishlist
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <img
              class="card-img-top"
              src="https://dummyimage.com/600x400/55595c/fff"
              alt="Card image cap"
            />
            <div class="card-body text-center pt-4">
              <h5 class="card-title">Product title</h5>
              <p class="mb-2 text-muted text-uppercase small">Product Text</p>
              <ul class="rating text-center">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
              </ul>
              <hr />
              <p>
                <span class="mr-1"><strong>$17.99</strong></span>
              </p>
              <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
                <i class="fas fa-shopping-cart pr-2"></i>Add to cart
              </button>
              <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                <i class="fas fa-info-circle pr-2"></i>Details
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm px-3 mb-2 material-tooltip-main"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to wishlist"
              >
                <i class="far fa-heart"></i>
                Wishlist
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <img
              class="card-img-top"
              src="https://dummyimage.com/600x400/55595c/fff"
              alt="Card image cap"
            />
            <div class="card-body text-center pt-4">
              <h5 class="card-title">Product title</h5>
              <p class="mb-2 text-muted text-uppercase small">Product Text</p>
              <ul class="rating text-center">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
              </ul>
              <hr />
              <p>
                <span class="mr-1"><strong>$17.99</strong></span>
              </p>
              <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
                <i class="fas fa-shopping-cart pr-2"></i>Add to cart
              </button>
              <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                <i class="fas fa-info-circle pr-2"></i>Details
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm px-3 mb-2 material-tooltip-main"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to wishlist"
              >
                <i class="far fa-heart"></i>
                Wishlist
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <img
              class="card-img-top"
              src="https://dummyimage.com/600x400/55595c/fff"
              alt="Card image cap"
            />
            <div class="card-body text-center pt-4">
              <h5 class="card-title">Product title</h5>
              <p class="mb-2 text-muted text-uppercase small">Product Text</p>
              <ul class="rating text-center">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
              </ul>
              <hr />
              <p>
                <span class="mr-1"><strong>$17.99</strong></span>
              </p>
              <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
                <i class="fas fa-shopping-cart pr-2"></i>Add to cart
              </button>
              <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                <i class="fas fa-info-circle pr-2"></i>Details
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm px-3 mb-2 material-tooltip-main"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to wishlist"
              >
                <i class="far fa-heart"></i>
                Wishlist
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
