<div class="jumbotron color-grey-light mt-70">
  <div class="d-flex align-items-center h-100">
    <div class="container text-center py-5">
      <h3 class="mb-0">Wishlist</h3>
    </div>
  </div>
</div>

<!-- Main Navigation -->

<!-- Main layout -->
<main>
  <div class="container">
    <!--Section: Block Content-->
    <section>
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 mb-5">
          <!-- Card -->
          <div class="">
            <div class="view zoom overlay z-depth-2 rounded">
              <!-- <img
                class="img-fluid w-100"
                src="https://dummyimage.com/600x400/55595c/fff"
                alt="Sample"
              /> -->
              <a href="#!">
                <div class="mask">
                  <img
                    class="img-fluid w-100"
                    src="https://dummyimage.com/600x400/55595c/fff"
                  />
                  <div class="mask rgba-black-slight"></div>
                </div>
              </a>
            </div>

            <div class="text-center pt-4">
              <h5>Blue denim shirt</h5>
              <p class="mb-2 text-muted text-uppercase small">Shirts</p>
              <ul class="rating">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
              </ul>
              <hr />
              <h6 class="mb-3">17.99 $</h6>
              <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
                <i class="fas fa-shopping-cart pr-2"></i>Add to cart
              </button>
              <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                <i class="fas fa-info-circle pr-2"></i>Details
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm px-3 mb-2 material-tooltip-main"
                data-toggle="tooltip"
                data-placement="top"
                title="Remove from wishlist"
              >
                <i class="fas fa-times"></i>Remove
              </button>
            </div>
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-5">
          <!-- Card -->
          <div class="">
            <div class="view zoom overlay z-depth-2 rounded">
              <!-- <img
                class="img-fluid w-100"
                src="https://dummyimage.com/600x400/55595c/fff"
                alt="Sample"
              /> -->
              <a href="#!">
                <div class="mask">
                  <img
                    class="img-fluid w-100"
                    src="https://dummyimage.com/600x400/55595c/fff"
                  />
                  <div class="mask rgba-black-slight"></div>
                </div>
              </a>
            </div>

            <div class="text-center pt-4">
              <h5>Red hoodie</h5>
              <p class="mb-2 text-muted text-uppercase small">Hoodies</p>
              <ul class="rating">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
              </ul>
              <hr />
              <h6 class="mb-3">35.99 $</h6>
              <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
                <i class="fas fa-shopping-cart pr-2"></i>Add to cart
              </button>
              <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                <i class="fas fa-info-circle pr-2"></i>Details
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm px-3 mb-2 btn-sm mr-1 mb-2"
                data-toggle="tooltip"
                data-placement="top"
                title="Remove from wishlist"
              >
                <i class="fas fa-times"></i> Remove
              </button>
            </div>
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-5">
          <!-- Card -->
          <div class="">
            <div class="view zoom overlay z-depth-2 rounded">
              <!-- <img
                class="img-fluid w-100"
                src="https://dummyimage.com/600x400/55595c/fff"
                alt="Sample"
              /> -->
              <a href="#!">
                <div class="mask">
                  <img
                    class="img-fluid w-100"
                    src="https://dummyimage.com/600x400/55595c/fff"
                  />
                  <div class="mask rgba-black-slight"></div>
                </div>
              </a>
            </div>

            <div class="text-center pt-4">
              <h5>Grey sweater</h5>
              <p class="mb-2 text-muted text-uppercase small">Sweaters</p>
              <ul class="rating">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
              </ul>
              <hr />
              <h6 class="mb-3">
                <span class="text-danger mr-1">$21.99</span>
                <span class="text-grey"><s>$36.99</s></span>
              </h6>
              <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
                <i class="fas fa-shopping-cart pr-2"></i>Add to cart
              </button>
              <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                <i class="fas fa-info-circle pr-2"></i>Details
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm px-3 mb-2 material-tooltip-main"
                data-toggle="tooltip"
                data-placement="top"
                title="Remove from wishlist"
              >
                <i class="fas fa-times"></i>Remove
              </button>
            </div>
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </section>
    <!--Section: Block Content-->
  </div>
</main>
